/Uppgift-1/Introduction/nbproject/private/
/Uppgift-1/Introduction/build/
/Uppgift-1/CalculatorPolishReverse/nbproject/private/
/Uppgift-1/CalculatorPolishReverse/build/
/Uppgift-1/CalculatorPolishReverse/dist/
/Tasks/Introduction/dist/
