/Uppgift-1/Introduction/nbproject/private/
/Uppgift-1/Introduction/build/
/Uppgift-1/CalculatorPolishReverse/nbproject/private/
/Uppgift-1/CalculatorPolishReverse/build/
/Uppgift-1/CalculatorPolishReverse/dist/
/Tasks/Introduction/dist/
/Tasks/Searching/build/
/Tasks/Searching/dist/
/Tasks/Sorting/nbproject/private/
/Tasks/Sorting/build/
/Tasks/Assignment5/nbproject/private/
/Tasks/Assignment5/build/
/Tasks/Trees/nbproject/private/
/Tasks/Trees/build/
/Tasks/Trees/dist/
/Tasks/HashTables/nbproject/private/
/Tasks/Graphs/nbproject/private/
/Tasks/Queues/nbproject/private/
/Tasks/PriorityQueues/nbproject/private/
/Tasks/LinkedLists/nbproject/private/
